BasedOnStyle: Google
Language: Cpp
Standard: c++17
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: true
IndentCaseLabels: false
AlignTrailingComments: false